<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input type="email" formControlName="email" placeholder="Email">
  <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
    Email es requerido
  </div>
  <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
    Email no válido
  </div>
  <input type="password" formControlName="password" placeholder="Password">
  <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
    Contraseña es requerida
  </div>
  <div *ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched">
    Contraseña debe tener al menos 8 caracteres
  </div>
  <div *ngIf="loginForm.get('password')?.hasError('maxlength') && loginForm.get('password')?.touched">
    Contraseña debe tener menos de 15 caracteres
  </div>
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
